body {
  padding-top: 50px;
  
  padding-bottom: 20px;
}

.breadcrumb-trail{
	float:left;
	padding: .1em .3em;
}

.fa.fa-angle-double-right{
	float:left;
	padding-top:.4em;
	padding-left:.3em;
	
}

.reder{
	color: red;
}

.col-md-2.station-list{
	margin-left:-1.3em;
}

.train-record.col-md-12.heading{
	background-color:rgb(51,51,51);
	color:#eee;
	border-radius:6px;
}


.station-list.heading.col-md-12{
	background-color:rgb(51,51,51);
	color:#eee;
	border-radius:6px;
}


.aec-record.col-md-12.heading{
	background-color:rgb(51,51,51);
	color:#eee;
	border-radius:6px;
}

.train-record,.train-record-details{
	float:left;
}

.page-header{
	clear:both;
}

.list-of-trains.col-md-8{
	border:2px solid;
}

.side-bar.col-md-3{
	border:2px solid;
}

.button-float-right{
	float:right;
	width:10em;
	margin-top:10px;
}

#footer_center{
	float:right;
	text-align:center;
}

.glyphicon-briefcase.intro-text-blocks{
	padding-right:1.3em;
}

.fa.fa-circle.active.train-indicator{
	color:#00933B;
	float:left;
	
}

.fa.fa-circle.inactive.train-indicator{
	color:#F90101;
	float:left;
}

.glyphicon-pencil.intro-text-blocks{
	padding-right:1.3em;
}

.glyphicon-home{
	padding-right:1.3em;
}

.glyphicon-forward{
	padding-left:.3em;
}

.glyphicon-list-alt.intro-text-blocks{
	padding-right:1.3em;
}

.glyphicon-wrench.button-icon-home{
	padding-right:1.3em;
}

.glyphicon-remove-circle.button-icon-home{
	padding-right:1.3em;
}

.form-group.btn.btn-success.form-control.button-float-right{
	margin-right:.4em;
	color:#333;
	background-color:#EEE;
	border:1px #EEE;
}

.form-group.btn.btn-success.form-control.button-float-right:hover{
	margin-right:.4em;
	background-color:#00933B;
	border:1px #00933B;
}

.form-group.btn.btn-danger.form-control.button-float-right{
	margin-right:.4em;
	color:#333;
	background-color:#EEE;
	border:1px #EEE;
}

.form-group.btn.btn-danger.form-control.button-float-right:hover{
	margin-right:.4em;
	background-color:red;
	border:1px #00933B;
}

.navbar-nav .active{
	font-weight:bold;
}

#signin_border{
	background-color:#eee;
	border-radius:20px;
	border-color:#eee;
	box-shadow:0px 4px 2px #ccc;
	padding:1em .8em 3em .8em;
}

#user_icon{
	color:#555;
	clear:both;
	font-size:5em;
	text-align:center;	
}

.form-signin-heading.col-md-4.col-md-offset-4{
	text-align:center;
	font-size:1.4em;
	color:#555;
}

.collapse.navbar-collapse .nav.navbar-nav :hover{
	color:#ffffff;
}

.collapse.navbar-collapse .nav.navbar-nav{
	color:#eee;
}

.navbar-brand.control :hover{
	color:#ffffff;
}

.navbar-brand.control{
	color:#eee;
}

.nav.navbar-nav li a{
	color:#eee;
}

.nav.navbar-nav{
	float:right;
}

.the-text.navbar-brand.control :hover{
	color:#ffffff;
}

span.the-text.navbar-brand.control:hover{
	color:#ffffff;
}


span.the-text.navbar-brand.control{
	color:#eee;
}

.fa{
margin-right:.3em;
}

.fa.fa-cog.fa-spin{
	margin-right:.3em;
}

.alert.alert-danger.error{
	padding-top:.5em;
	padding-bottom:.5em ;
}
