body {
  padding-top: 50px;
  
  padding-bottom: 20px;
}



.button-float-right{
	float:right;
	width:10em;
	margin-top:10px;
}

#footer_center{
	float:right;
	text-align:center;
}

.glyphicon-briefcase.intro-text-blocks{
	padding-right:1.3em;
}

.glyphicon-pencil.intro-text-blocks{
	padding-right:1.3em;
}

.glyphicon-home{
	padding-right:1.3em;
}

.glyphicon-forward{
	padding-left:.3em;
}

.glyphicon-list-alt.intro-text-blocks{
	padding-right:1.3em;
}

.glyphicon-wrench.button-icon-home{
	padding-right:1.3em;
}
.glyphicon-remove-circle.button-icon-home{
	padding-right:1.3em;
}

.form-group.btn.btn-default.form-control.button-float-right{
	margin-right:.4em;
	}

.navbar-nav .active{
	font-weight:bold;
}

#signin_border{
	background-color:#eee;
	border-radius:20px;
	border-color:#eee;
	box-shadow:0px 4px 2px #ccc;
	padding:1em .8em 3em .8em;
}

#user_icon{
	color:#555;
	clear:both;
	font-size:5em;
	text-align:center;	
}

.form-signin-heading.col-md-4.col-md-offset-4{
	text-align:center;
	font-size:1.4em;
	color:#555;
}

.collapse.navbar-collapse .nav.navbar-nav :hover{
	color:#ffffff;
}

.navbar-brand.control :hover{
	color:#ffffff;
}

.the-text.navbar-brand.control :hover{
	color:#ffffff;
}

span.the-text.navbar-brand.control:hover{
	color:#ffffff;
}

.fa{
margin-right:.3em;
}

.fa.fa-cog.fa-spin{
	margin-right:.3em;
}
